<!DOCTYPE html>
<html>
{% extends 'layout.html' %}
{% block body %}
<link rel="stylesheet" type="text/css" href="/static/css/forgotPassword.css">
<div class="card-form">
  <form class="signup">
    <div class="form-title">Reset Password</div>
    <div class="form-body">
      <div class="row">
        <input type="text" placeholder="Username*">
      </div>
      <div class="row">
        <input type="text" placeholder="Password*">
      </div>
    </div>
    <div class="rule"></div>
    <div class="form-footer">
      <a>Reset<span class="fa fa-thumbs-o-up"></span></a>
      <a>Cancel<span class="fa fa-ban"></span></a>
    </div>
  </form>
</div>
{% endblock body %}
</html>