<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/static/css/WelcomePage.css">
<script src="/static/js/WelcomePage.js"></script>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Source+Code+Pro' rel='stylesheet' type='text/css'>
<div class="intro">
  <div class="black"></div>
  <div class="white"></div>
  <div class="boxfather">
    <div class="box">
      <h1>WELCOME</h1>
        <h2>TO IEEE DEU</h2>
        <button><a href="{%url 'User:mainPageBridge'%}" >Enter</a></button>
    </div>
  </div>
</div>
</html>